.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.collabsible-header {
  display: inline-flex;
  flex-direction: row;
}

.collabsible-button {
  border: none;
  justify-content: space-between;
  margin-left: 14em;
  margin-top: 0px;
  font-size: 2em;
}

.ui form {
  margin-top: 2em;
}

.cardGroupStyle {
  margin-top: 35px;
}

.cardMarginStyle {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 750px;
}

.selectStyle {
  height: 38px;
  margin-top: 0.3em;
  padding: 1em;
}

.buttonStyle {
  background-color: #25aae1;
}

.textStyle {
  font-size: 12.5px;
  font-weight: 700;
}

.divStyle {
  width: 100%;
}

.filter-selector {
  background-color: #ffffff;
  height: 2em;
}
